*{
    text-decoration: none;
}
body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
/* menu */

nav,.logo,.menu,.button-add,#btnPlayQuiz,.btn-submit,.btn-create-btn-cancel{
    display: flex;
}

.logo,#btnPlayQuiz,.btn-submit{
    justify-content: center;
    align-items: center;
}
nav{
    box-shadow: rgba(91, 91, 97, 0.315) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 8px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}


.menu{
    width: 20%;
    margin: auto;
}

.logo{
    font-size: 25px;
    color: rgb(22, 207, 68);
    margin-left: 15px;
}
span{
    color: rgb(243, 4, 104);
    font-size: 30px;
}

a{
    padding: 15px;
    margin: 5px;
    color: blue;
}

.active{
    border-bottom: 2px solid blue;
}


#btnPlayQuiz{
    height: 60vh;

}
#btnPlayQuiz button{
    background: rgb(20, 20, 253);
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
    border-radius: 5px;

}




/* Style Form input edit Page */

.button-add{
    justify-content: flex-end;
}

.button-add button{
    padding: 10px;
    width: 10%;
    margin:5px 15px;
    border: none;
    background: rgb(20, 20, 253);
    border-radius: 5px;
    color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}

.button-add button:hover,.btnPlayQuiz button:hover{
    background: rgb(94, 94, 253);
}

#quizContainer{
    width: 50%;
    margin: auto;
    background: rgb(178, 177, 250);
    border-top: 5px blue solid;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    z-index: -1;
    
}

.question input{
    width: 90%;
    padding: 15px;
    border: none;
    margin-bottom: 8px;
}


h1{
    color: blue;
    text-align: center;
}
.card-form-created{
    width: 70%;
    margin: auto;
}
form{
    width: 100%;
    background: #eee;
    padding: 15px;
    border-radius: 5px;
    margin-top: 15px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.create-form{
    width: 50%;
    margin: auto;
    background:rgb(194, 193, 252); 
    padding: 20px;
    box-sizing: border-box;
    border-top: 5px solid blue;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-left: 2px solid blue;
    margin-top: 20px;
}

.answer input{
    margin: 8px 0;
    border: none;
    padding: 5px;
    border-bottom: 2px solid blue;
    border-radius: 5px;
}
#btnSubmit{
    background-color: blue;
    padding: 10px;
    width: 20%;
    color: white;
    border: none;
    margin-top: 30px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 30px;
}
#btnSubmit:hover{
    background: rgb(94, 94, 253);
}



#btn-answer,#btn-create{
    padding: 5px;
    width: 15%;
    
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#btn-answer{
    border:2px solid blue;
    color: black;
}
#btn-answer:hover{
    color: blue;
    
}

#btn-create{
    background: green;
    color: white;
}
#btn-create:hover{
    background: rgb(2, 177, 2);
}

.btn-create-btn-cancel{
    justify-content: space-between;
    margin-top: 15px;
}


.quizForm{
    width: 100%;
    margin: auto;
    margin-top: 35px;
    
}
form{
    border-top: 3px solid blue;
}

.quizForm form input{
    margin-top: 15px;
}

.delete{
    color: red;
    font-size: small;
    margin-left: 550px;
    border: 1px solid red;
    padding: 5px;
    cursor: pointer;
}

#editQuiz{
    width: 50%;
}


select{
    padding: 5px;
}

.score{
    margin: auto;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    margin-top: 20px;
    border-left: 2px solid blue;
    border-right: 2px solid blue;
}
h2{
    text-align: center;
    color: green;
}
footer{
    text-align: center;
    margin-top: 50px;
    color: blue;
}